@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

*:after,
*:before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #e6e6e6;
}

main {
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translatey(-50%);
  padding: 40px 60px;
}

main .header {
  margin-bottom: 20px;
}

.form-group {
  margin: 20px 0;
}

.form-control {
  display: block;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  height: 3rem;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 1px;
  padding: 11px 18px;
  margin-bottom: 14px;
}

#result {
  line-height: 1.3rem;
  color: #828282;
  display: block;
}
